{% extends "template.html" %}
{% load static %}
{% block contenidoQueCambia %}
<h3>Reponsable: Facundo Lanza</h3>
<p>En esta entrega generamos un listado de productos, con sus respectivas categorías y fábricas que los producen.</p>
<p>Tengo el problema de que no me anda el autoincremental, no se que pasa, espero me puedan decir cual es el problema, ahora le puse un nro fijo cuando se agrega un registro para que no les de error al probarlo.<br/>
Me falta aprender a mostrar una vista, la hice y la guardé en la base (ListadoProductos) pero no la pude mostrar como una tabla.</p>
<p>Saludos...</p>
{% endblock %}